@import "../../index.scss";

.btn-container {
    height: 36px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
  
    .btn-cart {
      height: 100%;
      padding: 0 20px;
      display: flex;
      align-items: center;
      border-radius: 10px;
      background-color: $base-color;
      position: relative;
      color: white;
      cursor: pointer;
      
      &:hover{
          background-color: $hover-color;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        z-index: -1;
      }
      .cart{
        margin-right: 12px;
      }
      i {
        font-size: 16px;
        color: white;
        margin-top: 1px;
        margin-right: 16px;
        z-index: 1;
      }
    }
  }