@import '../../index.scss';

.top-header {
  text-decoration: none !important;
  > div {
    border-left: 1px solid $base-color !important;
    border-right: 1px solid $base-color !important;
    padding: 0 !important;
    color: $hover-color !important;
    a {
      text-decoration: none !important;
      color: $base-font-color !important;
      padding: 0 !important;
      cursor: pointer !important;
      &:hover {
        color: $hover-color !important;
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  .header-top {
    display: none;
  }
}
