.megamenu {
  position: static !important;
}

/* .megamenu .dropdown-menu {
    position: absolute !important;
    background: none !important;
    border: none !important;
    width: 100% !important;
    margin: 0 auto !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  } */

.megamenu .dropdown-menu {
  /* background: #32cc99 !important; */
  background-color: #039be5 !important;
  width: 80% !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  margin: 0 !important;
  padding: 0 !important;
  border-top: none !important;
}

.text-uppercase {
  letter-spacing: 0.08em !important;
  cursor: pointer;
}
.list-unstyled .nav-link {
  font-size: 14px !important;
}
.navbar-nav > a {
  cursor: pointer !important;
}
.navbar .nav-item .nav-link:hover {
  color: darkslategrey !important;
}
