/* Carousel */
.product-directory-container {
  background: #fff;
  box-shadow: 0 0 2px 2px #fff;
  margin: 20px 0;
}

.product-container {
  margin: 0 !important;
}
.product-title {
  cursor: pointer;
  font-size: 18px !important;
}
.carousel-arrow-both {
  padding: 5px 8px;
  box-shadow: 0 0 1px 0px #000;
}
