.react-slider__lens {
}
.react-slider__imgZoom {
  width: 100% !important;
  height: 100% !important;
}
/* .react-slider__imgZoom {
  justify-content: center !important;
} */
.react-slider__container button {
  display: none;
}

.react-slider img {
  height: 500px;
  width: 500px;
}
.react-slider__ul li img {
  width: 70px;
  height: 87px;
}
.react-slider__ul {
  justify-content: center !important;
}
