.jumbotron {
    width:100% !important;
    padding:0 !important;
    margin:0 !important;
    background: #6c757d;
    box-sizing: border-box !important;
  }

  .row, .col {
    margin: 0 !important;
    padding: 0 !important;
  }

  .reset {
    width:100% !important;
    margin: 0 auto !important;
    height: 100vh;

  }

  .reset .form-container {
    width:100%;
    margin-top: 14vh !important;
    background: #fff;
    padding: 0 25px !important;
    border-radius: 2px;
    box-shadow: 0 0 4px 4px rgb(211, 209, 209);

}

.errors {
  color:red !important;
}

h4 {
  font-weight: 500;
  text-shadow: 1px 1px 2px #000000aa;
}

#login {
    color:#000000bb !important;
    font-size: 17px;
    font-weight: 500;
    transition: all .4s ease-in-out;
    text-decoration: none;
  }
  
  #login:hover {
    color:#000000ee !important;
  
  }